# Ignore local development configurations with real secrets
Backend/**/appsettings.Development.json
Backend/**/appsettings.local.json

# Ignore built binaries and cache
[Dd]ebug/
[Rr]elease/
bin/
obj/
.vs/
.vscode/